<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ribeye&display=swap" rel="stylesheet">
    <title>About</title>
  </head>
  <body>
    <div class="big-container">
    <header>
      <div class="banner">
        <h1>Abby's Favorites</h1>
      </div>
    </header>
    <h2>About</h2>
      <div class="sidebar">
        <ul>
          <li><a href="/index">Home</a></li>
          <li><a href="/appetizers">Appetizers</a></li>
          <li><a href="/entrees">Entrées</a></li>
          <li><a href="/desserts">Desserts</a></li>
          <li><a href="/recipes">Your Recipes</a></li>
          <li><a href="/recipes/new">Add Recipe</a></li>
        </ul>
      </div>
      <div class="paragraph">
        <p>Abby's Favorites is a collection of some of our favorite dishes. Regardless of culinary origin, we've made a place where people can go to find some delicious and relatively easy recipes. Members are also able to share their favorite meals as well!</p>
      </div>
      <footer>
        <p>Thanks for visiting Abby's Favorites!</p>
      </footer>
    </div>
  </body>
</html>
