<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ribeye&display=swap" rel="stylesheet">

    <title>Entrées</title>
  </head>
  <body>
    <div class="big-container">
    <header>
      <div class="banner">
        <h1>Abby's Favorites</h1>
      </div>
    </header>
    <h2>Entrées!</h2>

      <div class="sidebar">
        <ul>
          <li><a href="/recipes/new">New Recipe</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/entrees">Entrées</a></li>
        </ul>
      </div>
      <div class="main">
      <% for (let i=0; i < allRecipes.length; i++) { %>
      <div class="recipe-single">
        <a href="/recipes/<%=allRecipes[i].id%>"><img src="<%=allRecipes[i].image%>" width="200" height="200"></a>
        <br>
        <h4><%=allRecipes[i].name%></h4>
        <br>
      </div>
      <% } %>
      </div>
      <footer>
        <p>Thanks for visiting Abby's Favorites!</p>
      </footer>
    </div>
  </body>
</html>
