<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ribeye&display=swap" rel="stylesheet">
    <title>Show Entrée</title>
  </head>
  <body>
    <div class="big-container">
    <header>
      <div class="banner">
        <h1>Abby's Favorites</h1>
      </div>
    </header>
    <h2>Enjoy!</h2>
      <div class="sidebar">
        <ul>
          <li><a href="/index">Home</a></li>
          <li><a href="/recipes/new">Add Recipe</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/appetizers">Appetizers</a></li>
          <li><a href="/entrees">Entrées</a></li>
          <li><a href="/desserts">Desserts</a></li>
        </ul>
      </div>
      <div class="show">
        <img src="<%=entree.image%>" width="300" height="300">
        <br>
        <br>
        <div class="list">
          <%=entree.name%>
          <br>
          <%=entree.servings%>
          <br>
          <%=entree.steps%>
          <br>
        </div>
      </div>
      <footer>
        <p>Thanks for visiting Abby's Favorites!</p>
      </footer>
    </div>
  </body>
</html>
