body {
  background: #009933;
}

header {
  text-align: center;
}

h1 {
  text-align: center;
  color: brown;
  font-family: 'Ribeye', cursive;
  padding: 5%;
  background-color: yellow;
  border-radius: 80%;
  width: 600px;
  margin: auto;
}

h2 {
  text-align: center;
  color: yellow;
  font-family: 'Ribeye', cursive;
  padding: 10px;
  margin: 0;
  background-color: brown;
}

h4 {
  text-align: center;
}

a {
  color: yellow;
  display: block;
}

a:hover {
  color: brown;
  text-decoration: none;
}

.sidebar {
  background: brown;
  padding-top: 20px;
  font-family: 'Ribeye', cursive;
  height: 100%;
  width: 200px;
  position: absolute;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 10px 0;
  border-radius: 50%;
}

li:hover {
  background-color: yellow;
}

img {
  border-radius: 50%;
  border: 5px solid yellow;
  width: 300px;
  height: 300px;
}

.new {
  text-align: center;
  font-family: 'Ribeye', cursive;
  font-size: 20px;
}

.welcome {
  background-image: url("https://s3.amazonaws.com/finecooking.s3.tauntonclud.com/app/uploads/2019/10/15145505/eggplant_parmesan_wide.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.enter {
  text-align: center;
  font-family: 'Ribeye', cursive;
}

.big-container {
  display: block;
  position: relative;
  font-family: 'Ribeye', cursive;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  font-family: 'Ribeye', cursive;
  padding: 20px;
  padding-bottom: 50px;
  margin-left: 200px;
  min-height: 100vh;
}

.banner {
  background: url("https://media.istockphoto.com/photos/collage-of-bruschetta-antipasti-snack-tapas-banner-picture-id1144168039?k=6&m=1144168039&s=170667a&w=0&h=7R2HUqJJGwCR021rGBL6HI4vj2g57g6FUtnhUKqPabo=");
  margin: 0 auto;
  padding: 10px;
  background-size: cover;
  background-position: center;
  font-family: 'Ribeye', cursive;
}

footer {
  text-align: center;
  background: brown;
  color: yellow;
  padding-top: 15px;
  bottom: 0;
  position: absolute;
  width: 100%;
  font-family: 'Ribeye', cursive;
  font-size: 15px;
}

.paragraph {
  margin: 20px 250px;
  padding: 10px;
  border: 5px solid yellow;
  color: yellow;
  background-color: brown;
  font-family: 'Ribeye', cursive;
  font-size: 20px;
  text-align: center;
}

.show {
  padding-top: 20px;
  padding-bottom: 100px;
  text-align: center;
  font-family: 'Ribeye', cursive;
  font-size: 20px;
}

.edit {
  text-align: center;
  font-family: 'Ribeye', cursive;
  font-size: 20px;
}

.list {
  font-family: 'Ribeye', cursive;
  font-size: 30px;
  color: red;
}

input {
  background-color: yellow;
  color: brown;
}

.input {
  border-radius: 50%;
}

.welcomeheading {
  padding: 40px 0;
}

.index {
  display: flex;
}

.new {
  padding-top: 20px;
  padding-bottom: 100px;
}

textarea {
  background-color: yellow;
  color: brown;
}

p {
  color: brown;
}
